* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    padding: 10px;
    
}

.logo {

    width: 200px;
    
    
}

body { 


    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 400;
    font-style:normal;
}


a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s;
    font-weight: 600;
    
}





a.nav {
    padding: 5px 10px;
    border-radius: 2px;
    transition: background-color 0.3s, color 0.3s;
    font-size: 30px;
}

a.nav:hover {
    background-color: rgba(0, 0, 0, 0.07);
    color: rgb(36, 41, 46);
}


.banner  {
    background-color:#009a44;
    width: 100%;
    padding: 30px 20px;
    text-align: left;

    color:white;
    font-weight: 600;
    font-size: 30px;

}