* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    padding: 10px;   
}

.logo {
    width: 200px;
}

body { 


    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 400;
    font-style:normal;
}


a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s;
    font-weight: 600;  
}

a.nav {
    padding: 5px 10px;
    border-radius: 2px;
    transition: background-color 0.3s, color 0.3s;
    font-size: 30px;
}

a.nav:hover {
    background-color: rgba(0, 0, 0, 0.07);
    color: rgb(36, 41, 46);
}


.banner  {
    background-color:#009a44;
    width: 100%;
    padding: 30px 20px;
    text-align: left;

    color:white;

    font-family: 'Bubblegum Sans', sans-serif;
    font-weight: 600;
    font-size: 30px;

}

section {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    width: 100%;
    text-align: center;
    font-size: 40px;
}

section .category {
    
    border: 3px solid lightgray;
    padding: 20px;
    transition: transform 0.5s, box-shadow 0.5s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.42);
}


.category img {
  width: 400px;
  
 
}

section .category:hover {
  transform: scale(1.02);
}

.category h3 {
  margin-top: 12px;
}